---
name: "Shell Commands"
on: push 
jobs: 
  run-shell-command: 
    runs-on: ubuntu-latest
    steps: 
      - 
        name: "echo String"
        run: "echo \"Hello From First Github actions\""
      - 
        name: multiline
        run: |-
            npm -v
            curl ifconfig.me
     - name: python command
       run: |
         import platform
         print (platform.processor())
       shell: python
